<html>
<head>
<title>New Lesson</title>
</head>
<body>
<% if flash[:error] %>
<h5 style="color:red;"> <%= flash[:error]%></h5>
<%end%>
<h1>Create a New Lesson Plan</h1>

<form method="post" action="/lessons">
<label for="lesson_label">Lesson label:</label>
<input type="text" id="lesson_label" name="lesson[label]"></input><br>
<label for="lesson_description">Lesson Description:</label>
<input type="text" id="lesson_description" name="lesson[description]"></input><br>
<label for="lesson_subject">Subject:</label>
<input type="text" id="lesson_subject" name="lesson[subject]"></input><br>
<label for="lesson_grade">Grade:</label>
<input type="text" id="lesson_grade" name="lesson[grade]"></input><br>
<label for="lesson_image_url">Image URL:</label>
<input type="text" id="lesson_image_url" name="lesson[image_url]"></input><br>
<input type="submit" value="Create your lesson!">
</form>
</body>
</html>