<html>
<head>
<title>LeSin Plan Login</title>
<head>
<body>
<% if flash[:error] %>
<h5 style="color:red;"> <%= flash[:error]%></h5>
<%end%>
<h1>Login to your LeSin Plan Account!</h1>
<form method="post" action="/login">
<label for="email">Email</label>
<input type="email" id="email" name="email"></input>
<br>
<label for="password">Password</label>
<input type="password" id="password" name="password"></input>
<br>
<input type="submit" value="Login">
</form>
</body>
</html>