<html>
<head>
<title>LeSin Plan Signup</title>
</head>
<body>
<h1>Create a New LeSin Plan Account!</h1>
<h2>Ready to start giving your students an in-person experience while remaining virtual? Sign up below!</h2>
</body>
</html>