<html>
<head>
<title>LeSin Plan</title>
</head>
<body>
<h1>Welcome to LeSin plan</h1>
<br><br>
<p>LeSin Plan helps teachers and school staff easily transition their students to virtual learning without hindering the social aspect of school. Simply upload the lesson plan that has worked for you and your students, share the description of the class and plan, and that's it! Don't have a plan that works yet? No problem, feel free to browse other teacher's plans!</p>
<br>
<p>LeSin Plan also offers resources for School psychologist, Social workers, principals, etc. What are you waiting for? <a href="/signup">Sign up</a> today!</p>
</body>
</html>