<html>
<head>
<title>LeSin Plan</title>
</head>
<body>
<% if flash[:error] %>
<h5 style="color:red;"> <%= flash[:error]%></h5>
<%end%>
<h1>Welcome to LeSin Plan</h1>
<br><br>
<p>LeSin Plan helps teachers and school staff easily transition their students to virtual learning without hindering the social aspect of school. Simply upload the lesson plan that has worked for you and your students, share the description of the class and plan, and that's it! Don't have a plan that works yet? No problem, feel free to browse other teacher's plans!</p>
<br>
<p>LeSin Plan also offers resources for School psychologist, Social workers, principals, etc. Our goal is to ensure all students -regardless of age, learning capabilities, socioeconomic background, etc. - get the best education while remaining virtual. What are you waiting for? <a href="/signup">Sign up</a> today!</p>
<br>
<p>Already have an account? Login <a href="/login">here</a>!</p>
</body>
</html>